﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("id", "Person", FormMethod.Post))
{
    <div class="from-group">
        <label for="id">ID :</label>
        <input type="text" class="form-control" id="id" name="id"/>
    </div>
<button type="submit" class="btn btn-primary">Submit</button>
}
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);

